<div markdown="0" align="right">
  <!-- Adds links to other languages on the post -->
  {% for lang in site.languages %}

    {% unless site.lang == lang %}
      {% if lang == site.default_lang %}
        <a href="{{ site.baseurl_root }}{{ page.url }}" >{{ lang }}</a>
      {% else %}
        <a href="{{ site.baseurl_root }}/{{ lang }}{{ page.url }}" >{{ lang }}</a>
      {% endif %}
      
      {% assign next = forloop.index | plus: 1 %}
      
      {% if forloop.last != true and site.languages[forloop.index] != site.lang or site.languages[forloop.index] == site.lang and next < forloop.length %}
        <span class="separator"> &bull; </span>
      {% endif %}
      
    {% endunless %}
  {% endfor %}
</div>
